/* CSS Reset  */
*{
    margin:0px;
    padding: 0px;
    
    ;
    }
    .container{
     
        background-color: rgba(8, 13, 83);
        height: 150px;
        border-radius: 15px;
        text-align: center;
    }
    /* This is for main heading  */
    #mainheading1
    {
    color: rgb(231, 194, 145);
    font-size: 100px;
    font-style: italic;
    font-family: cursive;
    }
    #id1{
        background-color: #101010;
        
    }
    /* This is for list heading  */
    #id3{
        
    color: rgb(231, 194, 145);
    font-size: 50px;
    text-align: center;
        background-color: rgba(8, 13, 83); width: 400px;
        
    }
    
    /* This is for List  */
    #table1{
        margin-left: 150px;
        background-color: rgb(248, 249, 250); width: 400px; height: 400px;
        font-size: 25px;
    }
    #list{
        list-style-type: none; 
      padding: 10px; 
      margin: 10px; 
      font-size: 26px;
    }
    #button{
        list-style: none;
        margin-left: 100px;
        margin-inline-end: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    #buttonplus{
        margin-left: 1500px;
        margin-bottom: 50px;
    }
        
    
    